.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.topSide {
  justify-content: start;
  padding: 80px;
  padding-top: 20px;
}
.bottomSide {
  justify-content: end;
}

.hide {
  opacity: 0;
}

// @media screen and (max-width: 800px) {
//   .topSide {
//     top: 10px;
//     left: 20px;
//   }
//   .bottomSide {
//     bottom: 10px;
//     left: 100px;
//   }
// }

@media screen and (max-width: 450px) {
  .side {
    flex-direction: row;
    margin-left: 20px;
  }
  .username {
    margin-left: 5px;
  }
  .topSide {
    justify-content: start;
    padding: 5px;
  }
  .bottomSide {
    justify-content: start;
    padding: 5px;
  }
}
