.sidesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 50px;
  position: absolute;
  top: 0;
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
  }
  .side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.hide {
  opacity: 0;
}
