.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  width: max-content;
  height: max-content;
}
.side {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  margin-left: 50px;
}
.topSide {
  justify-content: start;
  padding: 5px;
}
.bottomSide {
  justify-content: start;
}
.username {
  margin-left: 5px;
}

.hide {
  opacity: 0;
}

@media screen and (min-width: 900px) {
  .info {
    flex-direction: column;
  }
  .side {
    flex-direction: column;
    margin-left: 5px;
  }
  .username {
    margin-left: 0;
  }
  .topSide {
    justify-content: start;
  }
  .bottomSide {
    justify-content: end;
  }
}

// @media screen and (min-width: 450px) {
//   .side {
//     flex-direction: row;
//     margin-left: 50px;
//   }
//   .username {
//     margin-left: 5px;
//   }
//   .topSide {
//     justify-content: start;
//     padding: 5px;
//   }
//   .bottomSide {
//     justify-content: start;
//     padding: 5px;
//   }
// }
