.wrapper {
  height: 100%;
  width: 95vw;

  background-color: #f0d9b5;
  margin: 10px;
  .middleContent {
    width: 100%;
    background-color: rgb(236, 175, 113);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bottomContent {
    width: 100%;
    background-color: rgb(236, 175, 113);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    height: 100%;
  }
}

.hide {
  display: none;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: max-content;
  }
}
