.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 16px;
  padding-left: 0;
  .logoImg {
    width: 100px;
    height: 100px;
  }
  &.collapsed {
    padding: 0;
    padding-bottom: 16px;
    .logoImg {
      width: 70px;
      height: 70px;
    }
    flex-direction: column;
  }
  span {
    white-space: nowrap;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .loginWrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;

    .loginBtn {
      margin-bottom: 6px;
    }
  }
}

.accountIcon {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 100%;
  border: 1px solid silver;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border: 2px solid dodgerblue;
  }
}

.popoverWrapper {
  display: flex;
  flex-direction: row;
  .rightSide {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    overflow: hidden;
    .username {
      font-weight: bold;
    }
    .view {
      color: rgb(134, 133, 133);
    }
  }
}

.btn {
  margin-top: 10px;
  width: 100%;
}
