.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.green {
  color: rgb(136, 209, 0);
}

.red {
  color: rgb(212, 70, 4);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
